body {
  width: 80%;
  margin: 0 auto;
}

/* Navigation & Brand */
#brand {
  color: grey;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.25rem;

  text-align: center;
}

.nav-link {
  color: #494D5F !important;
  margin: .5rem !important;
}

.nav-link:hover {
  color:white !important;
  background-color: grey !important;
  border-radius: 5%;

}

/* Image Carousel */
#gallery {
  height: auto;
  width: 85%;
  margin-bottom: 5rem;
}
.carousel-item {
  height: auto;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* About Section */
#about {

  font-size: 1.5rem;



  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* services Section */
#services {
  padding: 1.25rem 1.5rem ;
  /* border: 1px solid #d3d3d3; */

}
#services h3 {
  text-align: center;
  color: grey;
}
#services ul  {
  margin: 0 auto;
width: 100%;

}

.card {
  margin: 0 auto;
  /* justify-content: space-around; */
  height: auto;
  width: 200px;
  /* box-shadow: 3px 3px 1px grey; */
  display:flex;
  flex-wrap: no-wrap;
}

.btn-primary {
  background-color: grey;
  margin: .25rem;
}

/* Contact Section */
#contact h3 {
  color: grey;
}
hr {
  border: 2px solid grey;

}



#contact_info {
  width: 80%;
  display: flex;
  flex-direction: row;

}
#contact_info a {
  text-decoration: none;
  font-size: 1.25rem;

}
#social a {
  font-size: 2.5rem;
}
 #map {
   margin: 0 1.25rem 0 0;
   padding: .25rem;
   padding-right: 1rem;


 }

.bg-primary {
  background-color: #fff !important;
}

 /* Footer */
 footer {
  text-align: center;
}

.fblogo {
  font-size: 2rem;

}

.insta {
  font-size: 2rem;

}
#hours h3 {
color: grey;
}

/* Responsive */
@media (max-width: 575.98px) {
  #map {
    flex-direction: column;
  }
 }

@media (max-width: 800px) {
  #map-container{
    display: none;
  }
}

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }

@media (max-width: 1399.98px) { ... }

